
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}  {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <style>
  	.c{

  		padding-top: 20px;
  	}

  .bor{

  border : 2px solid black;
  background-color:#f1f1f1;
	}
 .l{
	margin-left: 60px;
}
.v{
	margin-bottom:80px;
}
.navv,ul{
	 display: flex;
  	flex-width: 150px;
  	flex-wrap: wrap;
  	font-size: 22px;

}
.ul{
	width:150px;

}
.lis{
	background-color:#f1f1f1;
	width:100px;
	list-style-type: none;
	border: 1px solid black;
	text-align:center;
	margin-left:5px;
	border-radius:4px;

}
.lis a{
	text-decoration:none;
	color:black;
}
.hover{
	color:pink;
}



  </style>

  <body style="background-color:green;">





<!-- Navigation bar -->
				<div class="v">

				<nav class="navbar navbar-light bg-light fixed-top bg-light">
				  <div class="container-fluid">
				  	<form class="d-flex" role="search">
				          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
				          <button class="btn btn-primary" type="submit">Search</button>

				    </form>
				    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"  >
				      <span class="navbar-toggler-icon " ></span>
				    </button>

				    <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
				      <div class="offcanvas-header" >
				        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Newborn.com</h5>

				        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-right: 20px;"></button>
				      </div>
				      <div class="offcanvas-body">
				        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
				          <li class="nav-item">
				            <a class="nav-link active" aria-current="page" href="#">Indian</a>
				            <a class="nav-link active" aria-current="page" href="#">Aunty</a>
				            <a class="nav-link active" aria-current="page" href="#">Nude</a>
				            <a class="nav-link active" aria-current="page" href="#">Old </a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="#">Link</a>
				          </li>
				          <li class="nav-item dropdown">
				            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				              Dropdown
				            </a>
				            <ul class="dropdown-menu dropdown-menu-dark">
				              <li><a class="dropdown-item" href="#">Action</a></li>
				              <li><a class="dropdown-item" href="#">Another action</a></li>
				              <li>
				                <hr class="dropdown-divider">
				              </li>
				              <li><a class="dropdown-item" href="#">Something else here</a></li>
				            </ul>
				          </li>
				        </ul>

				      </div>
				    </div>
				  </div>
				</nav>
				</div>

<!-- after navigations -->
<div class="container navv">
<ul>
	<li class="lis"><a href="/"> Home</a></li>
	<li class="lis"> <a href="{% url 'best_page' %}">Best </a></li>
	<li class="lis"> <a href="{% url 'new_page' %}">New </a></li>
	<li class="lis"> <a href="{% url 'hits_page' %}">Hits </a></li>
	<li class="lis"><a href="{% url 'images_page' %}"> Images</a></li>
	<li class="lis"> <a href="{% url 'pornstar_page' %}">Porn-Star </a></li>
	<li class="lis"> <a href="{% url 'exclusive_page' %}">Exculsive </a></li>
	<li class="lis"> <a href="{% url 'best_page' %}">More </a></li>
	<li class="lis"> <a href="{% url 'hits_page' %}">Cartoon </a></li>
	<li class="lis"> <a href="{% url 'hits_page' %}">Old </a></li>
</ul>
	</div>

{% block body %}

{% endblock body %}
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

 </body>
</html>
